:root {
    --main-background: url(../../imagen/background.jpg);
    --primary: #ffb52b;
    --secundary: #740059;
    --font-family: "kanit", sans-serif;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-family);
    width: fit-content;
    margin: 30px auto;
    font-size: 2.1em;
}

main {
    background-image: var(--main-background);
    background-size: cover;
    height: 750px;
    width: 400px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#return, #settings {
    border: none;
    background: transparent;   
    position: absolute;
    top: 25px;
    width: 65px;
}


#return {
    left: 260px;
    margin-top: 45px;
}

#settings {
    right: 260px;
    margin-top: 45px;
    
}

h6 {
    color: #740059; 
    text-align: center;
    margin-top: 100px;
}


.container {
    margin: 10px;
    padding: 160px 130px;
    background-color: #FFB52B;
    color: #740059;
    border-radius: 20px;
    border-color: #FFB52B;
}

.circus {
    display: flex;
    margin-top: 50px;
    margin-right: 200px;
}

.clown {
    display: flex;
    margin-top: -20px;
    margin-left: 250px;
}