:root {
  --initial-y-balloon: 450px;
}

main {
  justify-content: stretch;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score,
#timer {
  background-color: var(--primary);
  color: var(--secundary);
  font-family: var(--font-family);
  font-size: 1em;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 5px black;
  font-weight: bold;
  height: fit-content;
  width: 80px;
  text-align: center;
}

#score {
  width: 80px;
}

#timer {
  width: 120px;
}

.play-stop-button {
  background: none;
  border: none;
  text-align: center;
}

.stop-button,
.play-button {
  margin: 0 auto;
  width: 45px;
}

.lives {
  display: flex;
  margin: 10px;
}

.level-text {
  font-size: 1em;
  color: var(--secundary);
  text-align: center;
}

.description {
  font-size: 0.6em;
  text-align-last: center;
  font-weight: bold;
}

.target-score,
.limit-time {
  color: var(--primary);
}

.carpas img {
  width: 385px;
  height: 155px;
}

.board-game {
  flex-grow: 1;
  cursor: url(../../imagen/peephole.svg) 20 20, auto;
  position: relative;
}

.balloon-container {
  transform: translateY(var(--initial-y-balloon));
  width: fit-content;
  padding: 5px;
  display: inline-block;
  position: absolute;
  /* animation: balloon-ascent 3s linear; */
  animation-iteration-count: infinite;
}

.balloon {
  border-radius: 50%;
  position: relative;
  animation: balloon-float 4s ease-in-out infinite;
  transform-origin: bottom center;
}

.balloon::before {
  content: "▲";
  position: absolute;
}

.balloon-easy {
  width: 70px;
  height: 90px;
}

.balloon-easy::before {
  font-size: 0.9em;
  bottom: -25px;
  left: 18px;
}

.balloon-medium {
  width: 55px;
  height: 70px;
}
.balloon-medium::before {
  font-size: 0.65em;
  bottom: -16px;
  left: 15px;
}

.balloon-hard {
  width: 35px;
  height: 50px;
}
.balloon-hard::before {
  font-size: 0.4em;
  bottom: -10px;
  left: 10px;
}

@keyframes balloon-float {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-20px) rotate(4deg);
  }
}

@keyframes balloon-ascent {
  0% {
    transform: translateY(var(--initial-y-balloon));
  }
  100% {
    transform: translateY(-150px);
  }
}
