@import "style.css";

main {
    font-size: 18px;
    color: var(--secundary); 
    text-align: center;
}

main button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 60px;
}

#return {
    border: none;
    background: none;  
    box-shadow: none;
    display: flex;
    top: 10px;
    width: 100%;
    margin-top: -5px;
    margin-left: -50px;
}

h1 {
    color: var(--secundary); 
    text-align: center;
}

.music, .sound, .language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-bottom: -15px;
    font-weight: bolder;
}

#music, #sound, #spanish, #no-music, #mute, #english, #check {
    border: none;
    background: transparent;
    box-shadow: none;
}

#userInput {
    width: 200px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    text-align: center;
    margin-left: 40px;
    color: var(--secundary);
    font-size: 18px;
}

::placeholder {
    color: var(--secundary);
    font-size: 18px;
    font-weight: bolder;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    background-color: var(--primary);
    color: var(--secundary);
    font-family: var(--font-family);
    font-weight: bolder;
    margin-left: 40px;
    padding: 10px 60px;
}

.circus {
    display: flex;
    margin-right: 200px;
}

.clown {
    display: flex;
    margin-left: 250px;
    margin-top: -10px;
}







