
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}  
 .setting-button{
  border:none;
  justify-items: flex-end;
  background: none;
  top: 25px;
  width: 20px;
  right: 20px;
  box-shadow: none;
  border-radius: 50%;
  margin-left: 300px;
} 
.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left:30px;
  padding: 10px 15px;
  background-color: #FFB52B;
  color: #740059;
  border: 1px outset #FFB52B ;
  border-radius: 20px;
  width: 76.9%;
  height: 11.4%;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgb(102, 102, 102);
}
.container-over{
  display:flex;
  border: 0.5px solid #FFB52B;
  border-width: medium;
  border-radius:20px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  align-items: space-around;
  border-radius: 5%;
  margin-top:100px;
  width: 261px;
  height:358px;
}
h1{
  color:#740059 ;
  text-shadow: 
  2px 2px 0 #FFB52B,
  -2px 2px 0 #FFB52B,
  -2px -2px 0 #FFB52B,
  2px -2px 0 #FFB52B;
  border-radius: 20px;
  text-align:center;
  margin-right: 15px;
  font-size: 36px;
  font-weight: bold;
}
hr{
  border-top:2px solid #FFB52B;
}
#score{
  background-color: white;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 20px;
}

.circus {
  display: flex;
  margin-top: 30px;
  margin-right: 50%;
}
.sad-clown {
  display: flex;
  margin-top: 0px;
  margin-left: 250px;
  margin-bottom: 40px;
}