@import "style.css";

main {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding: 20px;
}
.setting-button {
  border: none;
  text-align: right;
  background: none;
  width: 100%;
  border-radius: 50%;
}
.setting-button img {
  box-shadow: 3px 3px 5px black;
  border-radius: 50%;
}
.setting-button img:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}
.container-over {
  display: flex;
  border: 2px solid var(--primary);
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 0;
  width: 300px;
  height: 360px;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  background-color: var(--primary);
  color: var(--secundary);
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgb(102, 102, 102);
  border: none;
}
.button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 4px rgb(102, 102, 102);
}

h1 {
  color: var(--secundary);
  text-shadow: 2px 2px 0 var(--primary), -2px 2px 0 var(--primary),
    -2px -2px 0 var(--primary), 2px -2px 0 var(--primary);
  border-radius: 20px;
  text-align: center;
  margin-right: 15px;
  font-size: 36px;
}
hr {
  border-top: 2px solid var(--primary);
  width: 100%;
}
#score {
  background-color: white;
  height: 20px;
  width: 25px;
  font-size: 16px;
  margin-left: 20px;
}
.characters {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.circus {
  margin-top: 20px;
}

@media only screen and (min-width: 750px) {
  main {
    display: flex;
  }

  .characters {
    margin-bottom: 0;
    width: 70%;
  }
  .circus > img {
    width: 400px;
  }
  .container-over {
    width: 370px;
    height: 430px;
  }
  .button {
    width: 300px;
    height: 60px;
    font-size: 24px;
    margin: 10px 30px;
  }
  h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  hr {
    width: 100%;
  }
  #score {
    width: 40px;
    height: 30px;
    font-size: 24px;
  }
}

@media only screen and (min-width: 970px) {
  .setting-button {
    margin-left: -30px;
  }

  .circus {
    width: 648px;
  }

  #sad-clown {
    width: 125px;
    height: 220px;
  }
}
