main {
  gap: 30px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-buttons img {
  width: 45px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px black;
}

.nav-buttons img:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}

#return,
#settings {
  background: none;
  border: none;
  width: 45px;
}

h1 {
  color: #740059;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 25px;
  background-color: #ffb52b;
  color: #740059;
  border-radius: 20px;
  border-color: #ffb52b;
  font-size: 0.4em;
  width: 360px;
  height: 400px;
}

ul {
  list-style-type: disclosure-closed;
}

.container p:last-child {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.characters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 750px) {
  main {
    display: flex;
  }
  .nav-buttons {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav-buttons img {
    width: 45px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    margin: 5px;
  }

  h1 {
    grid-area: title;
    font-size: 1.4em;
  }

  .container {
    grid-area: container;
    width: 485px;
    height: 450px;
    font-size: 0.5em;
    align-content: start;
  }
  .characters {
    width: 80%;
  }

  .circus img {
    width: 400px;
  }

  .clown img {
    width: 140px;
  }

  .ul {
    list-style-type: disclosure-closed;
  }

  .container p:last-child {
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    align-items: flex-start;
    text-align: center;
  }
}