@import "style.css";

main {
    align-items: center;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.level-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    background-color: var(--primary);
    color: var(--secundary);
    font-family: var(--font-family);
    font-weight: bolder;
    font-size: 0.75em;
    margin-left: 65px;
    margin: 10px;
    padding: 10px 60px;
}

#return, #settings {
    border: none;
    background: none;  
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

body {
    background-image: url(./imagen/background.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


#return, #settings {
    border: none;
    background: transparent;   
    position: absolute;
    box-shadow: none;
    top: 10px;
    width: 65px;
}


h1 {
    color: var(--secundary); 
    text-align: center;
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 15px;
}

.circus {
    display: flex;
    margin-top: 125px;
    margin-right: 200px;
}

.clown {
    display: flex;
    margin-left: 250px;
}

#return {
    left: 15px;
    margin-left: -30px;
}

#settings {
    right: -25px;
}

h1 {
    color: #740059; 
    text-align: center;
    margin-top: 50px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    background-color: #FFB52B;
    color: #740059;
    margin-left: 65px;
    margin-top: 30px;
    margin: 10px;
    padding: 10px 60px;
}
h1 {
    color: #740059; 
    text-align: center;
    margin-top: 150px;
}


#return, #settings {
    border: none;
    background: transparent;   
    position: absolute;
    top: 25px;
    width: 65px;
}

#return {
    left: 15px;
}

#settings {
    right: 15px;
}
.circus {
    display: flex;
    margin-top: 330px;
    margin-left: 20px;
    width: 100%;
    margin-top: 210px;
    margin-left: -50px;
}

.happy-clown {
    display: flex;
    margin-top: 30px;
    margin-right: 150px;
    margin-left: 290px;
}