@import "style.css";

main {
    align-items: center;
    gap: 20px;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-buttons img {
    width: 45px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    border: none;
}

.nav-buttons img:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
}

#return, #settings {
    border: none;
    background: none;
}

h1 {
    color: var(--secundary); 
    text-align: center;
    font-size: 1em;
}

.level-button {
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    background-color: var(--primary);
    color: var(--secundary);
    font-family: var(--font-family);
    font-size: 0.8em;
    font-weight: bolder;
    margin: 10px 0px;
    padding: 5px;
}

.level-button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px black;
}

.characters {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.circus {
    margin-bottom: 40px;
}

.clown {
    margin-top: 160px;
    margin-right: 40px;
}