main {
  justify-content: stretch;
  gap: 20px;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#logo {
  width: 260px;
  height: 206px;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  justify-content: center;
}
.button {
  width: 230px;
  height: 50px;
  background-color: var(--primary);
  color: var(--secundary);
  font-family: var(--font-family);
  font-size: 0.75em;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 5px black;
  font-weight: bolder;
}

.button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 10px black;
}

.characters {
  display: flex;
  max-width: 40%;
  gap: 50px;
  justify-content: center;
  margin-bottom: 80px;
}
.tents {
  display: flex;
  flex-grow: 1;
}
.lateral-tent {
  height: 63px;
  width: 57px;
  margin-top: 22px;
}

.central-tent {
  width: 114px;
  height: 76px;
  margin-left: -12px;
  margin-right: -12px;
}
.clown {
  width: 120px;
  height: 170px;
}

@media only screen and (min-width: 1023px) {
  main {
    width: 100vw;
    background-image: url(../../imagen/desktop-background.jpg);
    display: grid;
    background-position: bottom;
    grid-template-areas:
      "logo logo logo"
      ". .  menu"
      "characters characters menu";
  }
  .logo-container {
    grid-area: logo;
  }
  .menu {
    grid-area: menu;
    align-self: flex-start;
    justify-content: space-evenly;
    justify-self: center;
    gap: 25px;
    width: 100%;
  }
  .button {
    width: 350px;
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 60px;
  }
  .characters {
    grid-area: characters;
    max-width: 80%;
    margin: 0 auto;
  }
  .tents {
    align-items: flex-end;
    margin-bottom: -20px;
  }
  .central-tent {
    width: 300px;
    height: 265px;
    margin-right: -32px;
  }

  .lateral-tent {
    width: 150px;
    height: 160px;
    margin: 0 -28px 8px 0px;
  }
  .clown {
    width: 140px;
    height: 240px;
    margin-bottom: 50px;
  }
}
