@import "style.css";
main {
  align-items: center;
}

#return {
  border: none;
  background: none;
  top: 25px;
  width: 100%;
  text-align: left;
}

#return img {
  box-shadow: 3px 3px 5px black;
  border-radius: 50%;
}

#return img:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}

h1 {
  color: var(--secundary);
  text-align: center;
  font: bold;
  font-size: 1em;
}

table {
  width: 75%;
  height: 60%;
  margin: 10px;
  background-color: whitesmoke;
  color: #740059;
  border-radius: 3%;
  text-align: center;
  font-size: 0.5em;
  border-color: #740059;
  border-collapse: collapse;
}

th,
td {
  column-width: auto;
  height: 10%;
  text-align: center;
  text-size-adjust: auto;
}

td {
  font-weight: normal;
}
.characters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.circus {
  margin-bottom: 170px;
  width: 200px;
}

@media only screen and (min-width: 750px) {
  main {
    display: flex;
  }
  #return img {
    width: 70px;
  }
  h1 {
    font-size: 2em;
  }
  table {
    max-width: 800px;
    font: 1.5em;
  }

  .characters {
    width: 80%;
  }
  .circus {
    margin-bottom: 30px;
  }
  .circus img {
    width: 400px;
  }

  .clown img {
    width: 140px;
  }
}
