
main {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.setting-button{
  border:none;
  text-align: right;
  background: none;
  top: 10px;
  width: 100%;
  right: 20px;
  box-shadow: none;
  border-radius: 50%;
}
.setting-button img{
  box-shadow: 3px 3px 5px black;
  border-radius:50%;
}
.setting-button img:hover{
 cursor: pointer;
 box-shadow: 3px 3px 10px black;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left:30px;
  padding: 0px 15px;
  background-color: #FFB52B;
  color: #740059;
  border: 1px outset #FFB52B ;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgb(102, 102, 102);
}
.button:hover{
  cursor:pointer;
  box-shadow:3px 3px 4px rgb(102, 102, 102);
}

.container-win{
  display:flex;
  border: 0.5px solid #FFB52B;
  border-width: medium;
  border-radius:20px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  border-radius: 5%;
  margin-top: 100px;
  width: 260px;
  height:358px;
}
h1{
  color:#740059 ;
  text-shadow: 
  2px 2px 0 #FFB52B,
  -2px 2px 0 #FFB52B,
  -2px -2px 0 #FFB52B,
  2px -2px 0 #FFB52B;
  border-radius: 20px;
  text-align:center;
  font-size: 36px;
  margin-bottom:-50px; 
  margin-right: 15px;
}
hr{
  border-top:2px solid #FFB52B;
 }
#score{
  background-color: white;
  font-size: 16px;
  margin-left: 25px;
  height: 20px;
  width: 25px;
}

.trophy{
  width:45px;
  height: 45px;
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-right: 8px;
  margin-bottom: 15px;
}
.circus img{
 display: flex;
 margin-right:215px;
 margin-top:20px;

}
.happy-clown {
  display: flex;
  margin-left: 45%;
  margin-bottom: 10px;
}